// COLORS

$color-primary: #03d263;
$color-secondary: #39c0ff;

$color-white: #fff;
$color-black: #000;
$color-red: #ff0000;

$color-grey-light-1: #d7d9e1;
$color-grey-light-2: #e9ecf3;

$color-grey-dark-1: #2c3e50;
$color-grey-dark-2: #757a97;

$color-boder-header: #e7e7e7;

$color-backgroud-header: #f4f4f475;
$color-black-footer: #050505;
$color-title-footer: #d1d1d1;
$color-line-footer: #131313;
$color-word-footer: #494949;
$color-light-black: #f4f4f4;
$color-black-2: #c2c2c2;
$color-black-3: #f1f1f1;
$color-black-4: #737373;
$color-black-5: #cbd4b3;
$color-black-6: #c1c1c1;
$color-black-7: #818181;
$color-black-8: #b4b4b4;
$color-black-9: #e8e8e8;
$color-black-10: #4b4b4b;
$color-black-11: #dadada;
$color-black-12: #e6e6e6;
$color-black-13: #1b1b1b;
$color-black-14: #ffffff9c;
$color-black-15: #000000a3;
$color-black-16: #0e0e0e;
$color-backgroud-mobile: #262626;
$color-menu: #1a1a1a;
$color-green: #789629;
$color-menu-sub: #818181;
$color-brown: #6c3c33;

$box-shadow-1: 0 1rem 4rem rgba($color-black, 0.3);

// FONT SITE
$font-s9: 9px;
$font-s10: 10px;
$font-s12: 12px;
$font-s13: 13px;
$font-s14: 14px;
$font-s15: 15px;
$font-s16: 16px;
$font-s18: 18px;
$font-s19: 19px;
$font-s20: 20px;
$font-s23: 23px;
$font-s29: 29px;
$font-s32: 32px;
$font-s34: 34px;
$font-s45: 45px;
$font-s78: 78px;
$font-s88: 88px;
$font-s89: 89px;
$font-s141: 141px;
$font-s122: 122px;

// FONT WEIGHT
$font-w1: 100;
$font-w6: 600;
$font-w7: 700;

// Z-INDEXES
$z-index0: -10;
$z-index1: -1;
$z-index2: 200;
$z-index3: 300;
$z-index4: 400;
$z-index5: 500;
$z-index6: 600;
$z-index7: 700;
$z-index8: 800;
$z-index9: 900;

// FONTS
$font-primary: "Roboto", sans-serif;
$font-OpenSans: "Open Sans", sans-serif;
$font-UTMViceroyJF: "UTM ViceroyJF";
$font-lobster: "Lobster", sans-serif;
$font-androgyne: "utm-androgyne", sans-serif;

// SCREEN
$iphone5: 320px;
$iphone8-plus: 414px;
$mobile: 575px;
$md: 768px;
$tablet: 991px;
$xl: 1200px;
