// COLORS

$color-primary: #03d263;
$color-secondary: #39c0ff;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #d7d9e1;
$color-grey-light-2: #e9ecf3;

$color-grey-dark-1: #2c3e50;
$color-grey-dark-2: #757a97;

$color-boder-header: #e7e7e7;

$color-backgroud-header: #f4f4f475;
$color-light-black: #f4f4f4;
$color-backgroud-mobile: #262626;
$color-menu: #1a1a1a;
$color-green: #789629;
$color-menu-item: #737373;
$color-black-footer: #050505;
$color-title-footer: #d1d1d1;
$color-word-footer: #494949;
$color-line-footer: #131313;
$color-menu-sub: #818181;

$font-s6: 6px;
$font-s7: 7px;
$font-s10: 10px;
$font-s12: 12px;
$font-s13: 13px;
$font-s14: 14px;
$font-s18: 18px;
$font-s23: 23px;

// FONT WEIGHT
$font-w6: 600;
$font-w7: 700;

$box-shadow-1: 0 1rem 4rem rgba($color-black, 0.3);

// Z-INDEXES
$z-index0: -10;
$z-index1: -1;
$z-index2: 200;
$z-index3: 300;
$z-index4: 400;
$z-index5: 500;
$z-index6: 600;
$z-index7: 700;
$z-index8: 800;
$z-index9: 900;

// FONTS
$font-primary: "Roboto", sans-serif;
$font-OpenSans: "Open Sans", sans-serif;
$font-UTMViceroyJF: "UTM ViceroyJF";
$font-lobster: "Lobster", sans-serif;

// SCREEN
$iphone5: 320px;
$iphone8-plus: 414px;
$mobile: 575px;
$md: 768px;
$tablet: 991px;
$xl: 1200px;
