include ../blocks/data_footer

.footer
  .container
    .row
      .col-xs-12.col-sm-12.col-md-12.col-lg-4
        .footer__block
          p.footer__block-title LIÊN HỆ VỚI CHÚNG TÔI
          ul.footer__block-address
            li
              a(href="#")
                img(src="/images/map.png" alt="fax")
                span Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn, P.Cống Vị, Q. Ba Đình, Hà Nội
            li
              a(href="#")
                img(src="/images/phone.png" alt="fax")
                span (04) 6674 2332 
                span.space -
              a(href="#")
                img(src="/images/fax.png" alt="fax")
                span (04) 3786 8904
            li
              a(href="#")
                img(src="/images/phone.png" alt="fax")
                span (08) 6680 9686  
              a(href="#").footer__link-email
                img(src="/images/mail.png" alt="fax")
                span Support@bizweb.vn
      each footer in footers
        if footer.last
          .col-xs-12.col-sm-12.col-md-12.col-lg-2
            .footer__block
              p.footer__block-title= footer.name
                ul.footer__block-policy.footer__block-last
                  each item in footer.subfooter
                    li
                      a(href="#")= item
        else
          .col-xs-12.col-sm-12.col-md-12.col-lg-2
            .footer__block
              p.footer__block-title= footer.name
                ul.footer__block-policy
                  each item in footer.subfooter
                    li
                      a(href="#")= item
  .footer__extend
    .container
      .row
        .col-xs-12.col-sm-12.col-md-8.col-lg-8
          .footer__extend-copy
            p &copy; Copyright 2008-2014 DKT Technology JSC
        .col-xs-12.col-sm-12.col-md-4.col-lg-4
          .footer__extend-image
            img(src="/images/footer_extend.png" alt="fax")