.footer {
  padding-top: 54px;
  background-color: $color-black-footer;
  &__block {
    &-title {
      font-size: $font-18;
      font-family: $Open-Sans; 
      font-weight: 600;
      color: $color-title-footer;
      white-space: nowrap;
    }
    .footer{
      &__list {
        margin: 20px 0 40px 0;
        line-height: 30px;
        li {
          a {
            color: $color-word-footer;
            font-family: $font-primary;
            font-size: $font-14;
            text-decoration: none;
          }
          
        }
        a:hover {
          color: $color-green !important;
          transition: all .3s;
        }
      }
      &__last {
        @media (max-width: $lg) {
          border-bottom: none;
          margin-bottom: 44px;
        }
      }
      &__address {
        &-item {
          display: flex;
          font-weight: 600;
          a {
            margin-left: 5px;
          }
          .space-line {
            font-size: 23px;
            margin: 0px 5px;
            line-height: 24px;
          }
          .space {
            margin: 0 10px;
          }
          .address__item-email{
            font-style: italic;
          }
          .address__item-add{
            margin-left: 12px;
          }
        }
      }
      &__policy {
        &-item {
          position: relative;
          a:hover::before {
            content: "";
            position: absolute;
            top: 14px;
            left: 0px;
            width: 4px;
            height: 4px;
            background-color: #789629;
          }
          a:hover {
            margin-left: 10px;
            @media (min-width: $xl) {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  &__extend {
    padding: 25px 0;
    border-top: 1px solid $color-line-footer;
    color: $color-word-footer;
    font-family: $font-primary;
    font-size: $font-12;
    p {
      line-height: 25px;
    }
    &-image {
      text-align: end;
      @media only screen and (max-width: 768px) {
        text-align: start;
        padding-top: 10px;
      }
    }
  }
}
