.header {
    border-bottom: 1px solid $color-boder-header;
    background-color: $color-backgroud-header;
    .header__wrap {
      position: relative;
      padding: 10px 0;
      .header__logo {
      }
  
      .header__nav {
        font-family: $Open-Sans;
        font-size: $font-12;
        font-weight: bold;
      }
  
      .header__icon {
        flex: 2;
        text-align: end;
        &-cart {
          border: none;
          outline: none;
          .product__list {
            border: 1px solid;
            background-color: $color-white;
            border: 2px solid $color-green;
            padding: 10px;
            text-align: left;
            .arrow__up {
              display: inline-block;
              position: absolute;
              top: -10px;
              left: 50px;
              width: 0;
              height: 0;
              border-left: 18px solid transparent;
              border-right: 18px solid transparent;
              border-bottom: 9px solid $color-green;
            }
            .product__list-item {
              display: flex;
              padding-bottom: 20px;
              .product__content {
                margin-left: 5px;
                &-title {
                  font-family: $Open-Sans;
                  font-size: $font-12;
                }
                &-price {
                  font-family: "Lobster", cursive;
                  font-size: $font-14;
                  color: $color-green;
                  line-height: 24px;
                  margin-right: 24px;
                  .price__icon {
                    font-size: $font-10;
                    display: inline-block;
                    vertical-align: super;
                  }
                }
              }
              .product__remove {
                i {
                  transform: rotate(45deg);
                  cursor: pointer;
                  margin-left: 5px;
                }
              }
            }
            .product__list-total {
              display: flex;
              justify-content: space-between;
              padding: 18px 0;
              border-top: 1px solid $color-boder-header;
              .total__title {
                font-family: $Open-Sans;
                font-size: $font-12;
              }
              .total__price {
                font-family: "Lobster", cursive;
                font-size: $font-14;
                color: $color-green;
                .price__icon {
                  font-size: $font-10;
                  display: inline-block;
                  vertical-align: super;
                }
              }
            }
            .btn__cart {
              display: inline-block;
              background-color: $color-black;
              color: $color-white;
              padding: 5px 10px;
              font-family: $Open-Sans;
              font-size: $font-12;
              margin: 10px 0 15px 0;
            }
          }
        }
        &-search {
          margin: 0 32px 0 50px;
          border: none;
          outline: none;
        }
      }
      a {
        text-decoration: none;
      }
    }
  
    .menu__title {
      padding: 35px 0 14px 0;
      width: 140px;
      font-size: $font-14;
      border-bottom: 1px solid $color-boder-header;
      margin-bottom: 20px;
    }
  
    .header__wrapp__icon {
      display: inline-block;
      position: absolute;
      right: 10%;
      top: 28px;
    }
  
    .product__list {
      display: none;
      position: absolute;
      top: 82px;
      right: -15px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .header {
      .header__wrap {
        .header__nav {
          &-list {
            a {
              line-height: 25px !important;
            }
            li{
              i{
                top: 6px !important;
              }
            }
          }
          &-dropdown {
            padding: 0 0px 10px 20px !important;
            .menu__title {
              padding: 10px 0 6px 0;
              margin-bottom: 5px;
            }
            a {
              line-height: 20px !important;
            }
          }
        }
      }
    }
  }
  
  @media only screen and (max-width: 992px) {
    .header {
      .header__wrap {
        .header_logo {
          position: absolute;
          padding-left: 20px;
          float: left;
          line-height: 70px;
          text-transform: uppercase;
          font-size: 1.4em;
          a {
            img {
              max-height: 70px;
            }
            color: $color-white;
            text-decoration: none;
            &:visited {
              color: $color-white;
              text-decoration: none;
            }
          }
        }
  
        .header__nav {
          width: 100%;
          padding-top: 10px;
          &-mobile {
            display: block;
            position: absolute;
            top: 20px;
            right: 0;
            background: $color-backgroud-mobile;
            height: 40px;
            width: 40px;
            #nav__toggle {
              position: absolute;
              left: 10px;
              top: 8px;
              cursor: pointer;
              padding: 11px 35px 16px 0px;
              span {
                cursor: pointer;
                border-radius: 1px;
                height: 3px;
                width: 20px;
                background: $color-white;
                position: absolute;
                display: block;
                content: "";
                transition: all 300ms ease-in-out;
                &:before {
                  cursor: pointer;
                  border-radius: 1px;
                  height: 3px;
                  width: 20px;
                  background: $color-white;
                  position: absolute;
                  display: block;
                  content: "";
                  transition: all 300ms ease-in-out;
                  top: -7px;
                }
                &:after {
                  cursor: pointer;
                  border-radius: 1px;
                  height: 3px;
                  width: 20px;
                  background: $color-white;
                  position: absolute;
                  display: block;
                  content: "";
                  transition: all 300ms ease-in-out;
                  bottom: -7px;
                }
              }
            }
            #nav__toggle.active {
              span {
                background-color: transparent;
                &:before {
                  top: 0;
                  transform: rotate(45deg);
                }
                &:after {
                  top: 0;
                  transform: rotate(-45deg);
                }
              }
            }
          }
  
          &-list {
            display: none;
            li {
              position: relative;
              i {
                position: absolute;
                top: 14px !important;
                left: 91px !important;
              }
              .header__nav-dropdown {
                display: none;
                z-index: 1;
                box-shadow: 0 3px 12px $color-backgroud-header;
                border: 2px solid $color-green;
                background-color: $color-white;
                padding: 0 0px 26px 35px;
                a {
                  background-color: $color-white;
                  font-size: $font-13;
                  font-weight: lighter;
                }
              }
              a {
                display: block;
                padding: 0 20px;
                line-height: 40px;
                background: $color-backgroud-header;
                text-decoration: none;
                color: $color-black;
                &:visited {
                  display: block;
                  padding: 0 20px;
                  line-height: 70px;
                  text-decoration: none;
                  &:hover {
                    color: $color-green !important;
                  }
  
                  &:not(:only-child) {
                    &:after {
                      padding-left: 4px;
                    }
                  }
                }
                &:hover {
                  color: $color-white;
                }
                &:not(:only-child) {
                  &:after {
                    padding-left: 4px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .header__icon {
      display: inline-block;
      position: absolute;
      top: 30px;
      right: 76px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .header {
      .header__wrap {
        display: flex;
        align-items: center;
        .header__logo {
          flex: 2;
        }
        .header__nav {
          flex: 8;
          margin-left: 120px;
          &-list {
            display: flex !important;
            justify-content: flex-start;
            margin-right: 0px;
            li {
              .header__nav-dropdown {
                position: absolute;
                display: none;
                z-index: 1;
                box-shadow: 0 3px 12px $color-backgroud-header;
                border: 2px solid $color-green;
                position: absolute;
                top: 82px;
                left: 26%;
                background-color: $color-white;
                padding: 0 0px 26px 35px;
                .arrow__up {
                  display: inline-block;
                  position: absolute;
                  top: -10px;
                  left: 330px;
                  width: 0;
                  height: 0;
                  border-left: 18px solid transparent;
                  border-right: 18px solid transparent;
                  border-bottom: 9px solid $color-green;
                }
                ul {
                  li {
                    line-height: 20px;
                    a {
                      font-size: $font-13;
                      font-weight: lighter;
                      padding: 0;
                    }
                    a.item__child-active,
                    a:hover {
                      color: $color-green !important;
                    }
                    a.item__child-active::before,
                    a:hover::before {
                      content: "\25AE";
                      font-family: FontAwesome;
                      position: absolute;
                      left: 6px;
                      font-size: $font-7;
                    }
                  }
                }
              }
              i {
                margin-left: 5px;
              }
              a {
                color: $color-menu;
                padding: 30px 0;
              }
              a.item-active,
              a:hover {
                color: $color-green !important;
              }
            }
          }
        }
      }
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .header {
      .header__wrap {
        .header__nav {
          margin-left: 50px;
          &-list {
            li:not(:last-child) {
              margin-right: 22px;
            }
          }
        }
      }
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .header__wrap {
      .header__nav {
        &-list {
          li:not(:last-child) {
            margin-right: 36px;
          }
        }
      }
    }
  }
  